#button_holder{
    text-align: center;
    font-size: large;
}


fieldset{
    text-align: center;
    padding-bottom: 20%;
}

#quarterSystem{
    display: flex;
    justify-content: center;
}

legend{
    font-weight: 800;
    font-size: x-large;
    text-align: center;
}

#userID{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
}

input{
    justify-content: center;
}

#formContents {
    display: none;
}